mixin png(name)
	img(src=require(`../src/images/${name}.png`) alt=name)

mixin svg(name)
	img(src=require(`../src/images/${name}.svg`) alt=name)

mixin jpg(name)
	img(src=require(`../src/images/${name}.jpg`) alt=name)